.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */

.redStrike {
  color:red;
  text-decoration:line-through;
}

.emptyTableRow {
  border-top: 1px solid #DDD; 
  border-bottom: 1px solid #DDD;
  background: none !important;
}

.emptyTableRow > td {
  padding: 2px !important;
}

.icon-paper, .icon-video, .icon-links, .icon-slide, .icon-minutes, .icon-answer {
  margin-bottom: 5px;
}

.icon-paper {
  margin-left: 5px;
}

/* important Dates Table */

.important-dates table {
  background: #FFFFFF;
  margin-bottom: 1.25rem;
  border: solid 1px #DDDDDD;
  .important-dates table-layout: auto;
}
.important-dates table caption {
  background: transparent;
  color: #222222;
  font-size: 1.5rem;
font-weight: bold; }
.important-dates table thead {
background: #F5F5F5; }
.important-dates table thead tr th,
.important-dates table thead tr td {
  padding: 0.5rem 0.625rem 0.625rem;
  font-size: 1.5rem;
  font-weight: bold;
color: #222222; }
.important-dates table tfoot {
background: #F5F5F5; }
.important-dates table tfoot tr th,
.important-dates table tfoot tr td {
  padding: 0.5rem 0.625rem 0.625rem;
  font-size: 1.5rem;
  font-weight: bold;
color: #222222; }
.important-dates table tr th,
.important-dates table tr td {
  padding: 0.5625rem 0.625rem;
  font-size: 1.5rem;
  color: #222222;
text-align: left; }
.important-dates table tr.even, .important-dates table tr.alt, .important-dates table tr:nth-of-type(even) {
background: #F9F9F9; }

/* Normal Table */
table thead tr th,
table tfoot tr th,
table tfoot tr td,
table tbody tr th,
table tbody tr td,
table tr td {
  display: .important-dates table-cell;
line-height: 1.5rem; }


body{
  margin:0;
  font-family: 'Open Sans', sans-serif;
}
body a{
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
}
h1,h2,h3,h4,h5,h6{
  margin:0;			   
}
p{
  margin:0;
}
ul,label{
  margin:0;
  padding:0;
}
body a:hover{
  text-decoration:none;
}
.banner{
  /*background: url(../images/banner.jpg) no-repeat 0px -10px;*/
  background: url(../images/banner.png) no-repeat;
  background-size: cover;
  background-position: center 0;
  /* height: 400px; */
  min-height: 500px;
  position:relative;
}

.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/*--Top navigationHide default border to remove 1px line.--*/

/*-- Navbar, Only used for phone--*/
/* Hide for mobile, show later */
.sidebar {
  display: none;
}
span.menu-icon {
  display: none;
}

.footer-logo {
  display: block;
  margin: 0 auto;
  width: 110px;
  text-align: center;
}

.navbar {
  display: block;
}

.navbar-header > button > span{
  margin: 0px 20px;
}

.navbar-collapse li {
  text-align:center;
}

#sosp19logo {
  height: 110px;
}

/*-- Sidebar--*/
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:focus {
  border-top: 2px solid #99abd5;
  border-bottom: 2px solid #99abd5;
}
.nav > li > a:hover, .nav > li > a:focus {
  border-top: 2px solid #99abd5;
  border-bottom: 2px solid #99abd5;
  background-color: transparent;
}

.carousel {
  max-width: 1022px;
  margin: 0 auto;
}

@media (min-width: 769px) {
  .footer-logo {
    display: none;
  }
  .navbar {
    display: none;
  }
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
  }

  /*
   * Main content
   */

  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

  .main-text {
    padding: 1.5em;
    border-left: 1px solid rgb(234, 227, 227);
  }
  ul.nav.nav-sidebar {
    margin: 4em 0 0;
  }
  ul.nav.nav-sidebar  li {
    margin-bottom: .5em;
  }
  .logo {
    margin: 0 auto;
    position: relative;
    width: 70%;
  }

  .logo a {
    display: block;
  }
  .logo a img {
    vertical-align: middle;
    width: 100%;
  }

  .logo a img:hover {
    position: relative;
    top: -2px;
    left: -2px;
    border-bottom-color: #006600;
  }

  h1 a.navbar-brand {
    float: none;
    height: initial;
    padding: 0;
    font-family: 'Marvel', sans-serif;
    font-size: 1.8em;
    color:#99abd5;
  }
  ul.nav.nav-sidebar #homenav {
    padding: 0;
    font-size: 18px;
  }
  ul.nav.nav-sidebar li b {
    color: black;
    font-size: 18px;
  }
  ul.nav.nav-sidebar li a {
    padding: 0.6em 0;
    color: #000099;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Marvel', sans-serif;
  }
  .navbar-fixed-top {
    border: 0;
  }
  .navbar-brand  img {
    display: inline-block;
  }
  .sidebar {
    padding: 3.5em 0 2em;
    text-align: center;
    background-color: #fff;
  }
  .sidebar p {
    color: #99abd5;
    font-size: 13px;
    margin: 0 auto;
    text-align: center;
    width: 82%;
  }
  .sidebar p a {
    color: #99abd5;
    font-size: 13px;
  }
  .sidebar p a:hover{
    color: #000099;
    text-decoration: underline;
  }
  .jumbotron.banner-text {
    background-color: rgba(153, 171, 213, 0.0) !important;*/
    margin: 0;
    padding: 0em;
    width: 70%;
    height: 40%;
    text-align:center;
    position: relative;
    top: 10%;
    left: 15%;
}
.banner-text h2{
  padding-top: 0.2em;
  font-size: 4em;
  margin-bottom: 0em;
  /*color: #FF4C00;*/
  color:#fff;
  font-family: 'Marvel', sans-serif;
}
.banner-text p {
  margin: 0em 0em;
  font-size: 18px;
  font-weight:bold;
  /*color:#ff4c00;*/
  color:#fff;
}
a.btn.btn-primary {
  background-color: #000099;
  border-color: #000099;
}
a.btn.btn-primary:hover {
  background-color: #000099;
  border-color: #000099;
}
.social-icons {
  display: inline-block;
  margin: 4em 0;
}
.social-icons ul li {
  display: inline-block;
  margin-right: 5px;
}
.social-icons a{
  background: url(../images/iconsprite.png)no-repeat 0px 0px;
  display: block;
  width: 40px;
  height: 41px;
  transition: none;
}
.social-icons a:hover{
  background:url(../images/iconsprite.png)no-repeat -48px 0px;
}
.social-icons a.fb {
  background: url(../images/iconsprite.png)no-repeat 0px -47px;
}
.social-icons a.fb:hover{
  background:url(../images/iconsprite.png)no-repeat -48px  -47px;
}
.social-icons a.be{
  background:url(../images/iconsprite.png)no-repeat 0px -95px;
}
.social-icons a.be:hover{
  background:url(../images/iconsprite.png)no-repeat -48px -95px;
}
.social-icons a.gg{
  background:url(../images/iconsprite.png)no-repeat 0px -143px;
}
.social-icons a.gg:hover{
  background:url(../images/iconsprite.png)no-repeat -48px -143px;
}
.main {
  padding: 0;
}

/*organizers.html*/
.organizers-office {
  color: #3F92D2;
  line-height: 1.6em;
  font-weight: 600;
  padding-right:0.2em;
}
.organizers-bearer {
  font-size: 14px;
  line-height: 1.6em;
}

#organizers td {
  vertical-align: top;
}
/*
.organizers-office {
font-size: 14px;
color: #3F92D2;
margin: 0 0 .5em;
line-height: 1.6em;
font-weight: 600;
}
.organizers-bearer {
font-size: 14px;
white-space: nowrap;
margin: 0 0 .5em;
line-height: 1.6em;
}

.venue-info {
max-width:800px;
position:relative;
margin:auto;
}
 */

  .venue-left{float:left!important}
  .venue-right{float:right!important}
  .venue-padding-left{padding-left:16px!important}
  .venue-padding-right{padding-right:16px!important}
  .venue-text-khaki,.venue-hover-text-khaki:hover{color:#b4aa50!important}
  .venue-info img { width:100%;}
  .venue-info { padding-left: 2em; padding-bottom:1em; max-width:500px;}

  .welcome { padding: 0; }

  /*Red one center*/

  h2 {
    color: #000099;
    font-size: 2em;
    margin-bottom: 0.7em;
    text-align: center;
    font-family: 'Marvel', sans-serif;
  }
  h3 {
    color: #000099;
    font-size: 3em;
    margin-bottom: 0.2em;
    text-align: center;
    font-family: 'Marvel', sans-serif;
  }

  /*purple one no center*/
  .welcome h5 {
    color: #000099;
    font-size: 1.5em;
    margin-bottom: 0.1em;
    font-family: 'Marvel', sans-serif;
    text-decoration:inherit;
    line-height:1.6em
  }
  .welcome h4 {
    font-size: 14px;
    color: #000099;
    margin: 0 0 .5em;
    line-height: 1.6em;
    font-weight: 600;
  }

  .left-h {
    text-align:left;
  }

  .center-h {
    text-align:center;
  }

  .welcome p {
    color: #616156;
    font-size: 16px;
    line-height: 1.8em;
    margin-bottom: 1em;
  }

  .welcome ul li {
    list-style-position:inside;
    list-style-type:disc;
    color: #616156;
    font-size: 16px;
    line-height: 1.8em;
  }

  .welcome ol li {
    list-style-position:inside;
    color: #616156;
    font-size: 16px;
    line-height: 1.8em;
  }

  .welcome-left  img {
    width: 100%;
  }
  .welcome-left {
    padding-right: 5em;
  }
  .sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  .important-dates-info img {
    width: 100%;
  }
  .important-dates-info {
    padding: 1em;
    position: relative;
  }
  .offer-text {
    position: absolute;
    top: 30%;
    left: 30%;
  }
  .offer-text {
    display: none;
    position: absolute;
    top: 4%;
    left: 2%;
    background-color: rgba(255, 255, 255, 0.67);
    width: 96%;
    height: 92%;
  }
  .offer-text h5 {
    font-size: 3em;
    color: #d95459;
    margin: 24% 31%;
    display: inline-block;
  }
  .important-dates-info:hover div.offer-text{
    display:block;
  }
  .important-dates {
    margin-top: 2em;
  }
  .menu {
    background-color:#99ABD5;
  }
  ul {
    padding: 0;
    list-style: none;
  }
  .menu > li > a {
    padding: 13px 5px;
    width: 100%;
    text-indent: 1.2em;
    display: block;
    position: relative;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    border-bottom: 1px dotted #fff;

  }
  span.icon {
    background: url(../images/icon1.png)no-repeat 0px 0px;
    display: block;
    position: absolute;
    width: 20px;
    height: 14px;
    top: 30%;
    right: 3%;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
  }
  .menu li a.active span {
    transform: rotatex(180deg);
  }
  .menu ul li a {
    background: #fff;
    line-height: 1.8em;
    display: block;
    position: relative;
    font-size: 13px;
    font-weight: 400;
    color: #3a3b36;
    text-decoration: none;
    padding: 12px 30px;
  }
  .feature-left h4 {
    font-size: 14px;
    color: #99abd5;
    margin: 0 0 .5em;
    font-weight: 600;
  }
  .feature-left p {
    color: #616156;
    font-size: 13px;
    line-height: 1.6em;
  }
  .ftrs-left-text {
    margin: 2em 0;
  }
  .features {
    margin-top: 4em;
  }
  /*---about---*/
  .about-main{
    border-left: 1px solid rgb(208, 204, 204);
    padding: 5em 2em 4em;
  }
  .about-grids img {
    width: 91%;
  }
  .about-grids h4 {
    font-size: 15px;
    color: #99abd5;
    margin: 0 0 .5em;
    line-height: 1.6em;
    font-weight: 500;
  }
  .about-grids p {
    color: #616156;
    font-size: 13px;
    line-height: 1.8em;
  }
  .about-grids ul li {
    padding: 1em 0;
    border-bottom: 1px dotted rgb(207, 223, 234);
  }
  .about-grids ul li a {
    font-size: 15px;
    color: rgba(137, 133, 128, 0.99);
  }
  .about-grids ul li a:hover{
    color:#d95459;
  }
  .about-grids ul li:nth-child(1) {
    padding-top: 0;
  }
  .about-team-grids img {
    width: 100%;
  }
  .about-team-grids {
    position: relative;
    padding: 2em;
  }
  .about-team {
    padding: 7em 0 3em 0;
    position: relative;
  }
  .team-text {
    text-align: left;
    background: #fff;
    padding: 1em 1em 2em 1.5em;
    border: 3px solid #99abd5;
  }
  .team {
    margin: 5em 0 0;
  }
  .team-text h5 {
    color: #d95459;
    margin: 0 0 6px 0;
    font-size: 3em;
    font-family: 'Marvel', sans-serif;
  }
  .team-text h6 {
    color: #d95459;
    margin: 0 0 0 0;
    font-size: 1.2em;
    font-weight: 600;
  }
  .about {
    margin-bottom: 5em;
  }
  .about-slid {
    background: url(../images/banner1.jpg) no-repeat 0px 0px;
    background-size: cover;
    min-height: 400px;
    position:relative;
  }
  .abt-slid-text {
    position: absolute;
    top: 32%;
    left: 31%;
  }
  .abt-slid-text h2 {
    font-size: 6em;
    color: #FFF;
    font-family: 'Marvel', sans-serif;
  }
  .abt-slid-text p {
    margin: 0.5em 0 0;
    font-size: 22px;
    color: #fff;
  }
  /*-----services-------*/
  .srvs-thumbnail.thumbnail {
    border: none;
    padding: 0;
    margin-bottom: 2.5em;
  }
  .srvs-thumbnail.thumbnail a img {
    width: 100%;
  }
  .srvs-caption.caption {
    padding: 1em 1.5em;
    background-color: #b8c9f1;
  }
  .srvs-caption h3 {
    color: #000;
    font-weight: 400;
    margin: 1em 0;
    font-size: 22px;
  }
  .srvs-caption h4 {
    font-size: 22px;
    margin-bottom: .2em;
    font-family: 'Marvel', sans-serif;
  }
  .srvs-caption h4 a{
    color:#d95459;
    font-weight: 800;
  }
  .srvs-caption h4 a:hover {
    color: #6D8CD5;
  }
  .srvs-caption p {
    color: #616156;
    font-size: 13px;
  }
  .srvs-row.row {
    margin: 4em 0 3em;
  }
  .srvs-thumbnail.thumbnail:hover div.srvs-caption {
    background-color:#EDEFF4;
  }
  .resume {
    margin-right: 2em;
    padding: 2em;
  }
  .work-grids {
    margin-top: 3em;
  }
  .resume span {
    font-size: 1.5em;
    background-color: #99abd5;
    width: 44px;
    height: 44px;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    -ms-border-radius: 50px;
    color: #fff;
    line-height: 2em;
    margin: 1.5em 0;
    display: block;
  }
  .resume h4 {
    color: #d95459;
    font-size: 3.5em;
    margin: 1em 0 0;
    font-family: 'Marvel', sans-serif;
  }
  .resume h5 {
    color: #99ABD5;
    font-size: 17px;
    margin: 2em 0 0.5em;
    font-weight: 400;
  }
  .resume p {
    font-size: 13px;
    margin-bottom: 3em;
    color: #616156;
    line-height: 1.8em;
  }
  .resume-grid:nth-child(2) {
    border-right: 1px solid #efe7e8;
    border-left: 1px solid #efe7e8;
    position: relative;
  }
  .resume-grid:hover {
    background-color: #b8c9f1;
  }
  .resume-grid:hover div.resume img {
    transform: rotatey(360deg);
    transition: .5s all;
  }
  .resume-grid:hover div.resume span {
    background-color: #fff;
    color: #B8C9F1;
  }
  .resume-grid:hover div.resume h5 {
    color: #FFFFFF;
  }
  /*--//services-page--*/
  /*--testimonial--*/
  .testi-info {
    background-color: #99abd5;
    padding: 3em;
    margin: 5em 0;
    position: relative;
  }
  .testi-left {
    position: absolute;
    top: -16%;
  }
  .testi-left img {
    width: 100%;
  }
  .testi-left img.img-circle {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50px;
    -ms-border-radius: 50%;
  }
  .testi-right {
    float: right;
    width: 80%;
  }
  .testi-info p {
    font-size: 14px;
    margin: 0 0 1em;
    color: #fff;
    letter-spacing: 0.5px;
    line-height: 1.6em;
  }
  .testi-info span {
    font-size: 2em;
  }
  .testi-info a {
    font-size: 2.2em;
    color: rgb(254, 254, 254);
    font-family: 'Marvel', sans-serif;
  }
  .testi-info a:hover{
    color: #000099;
  }
  .testi-left.testi-lft2 {
    right: 3%;
  }
  .testi-right.testi-rt2 {
    float: left;
  }
  /*--//testimonial--*/
  /*--gallery-page--*/
  .galry-grids img {
    width: 100%;
  }
  .galry-grids {
    padding:0em;
  }
  .fancybox-skin {
    background-color: #99abd5 !important;
  }
  .fancybox-nav {
    width: 10% !important;
  }
  /*----- Strip -----*/
  .b-link-stripe{
    position:relative;
    display:block;
    vertical-align:top;
    font-weight: 300;
    overflow:hidden;
  }
  .b-link-stripe .b-wrapper{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-align:center;
    overflow:hidden;
  }
  .b-link-stripe .b-line{
    position:absolute;
    top:0;
    bottom:0;
    width:20%;
    background:rgba(15, 207, 140, 0.9);
    transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -ms-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    -webkit-transition:all 0.5s linear;
    opacity:0;
    visibility:hidden; /* lt-ie9 */
  }
  img.img-responsive.glry-img {
    width: 100%;
  }
  /*------Animation effects------*/
  .b-animate-go{
    text-decoration:none;
  }
  .b-animate{
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    visibility: hidden;	
  }
  .b-animate img{
    display: -webkit-inline-box;
  }
  /* lt-ie9 */
  .b-animate-go:hover .b-animate{
    visibility:visible;
  }
  .b-from-left{
    position: absolute;
    top: -100%;
    left: 41%;
  }
  .b-animate-go:hover .b-from-left{
    top: 41%;
  }
  .b-wrapper:hover {
    background: rgba(95, 158, 160, 0.68);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
  }
  /*--//gallery-page--*/
  /*--contact-page--*/
  .map {
    margin: 1em 0 1em;
  }
  .map iframe {
    width: 80%;
    height: 340px;
  }
  .contact-infom p {
    color: #858d94;
    margin: 0 0 1.5em 0;
    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .address p {
    color: #616156;
    margin: 0 0 .5em 0;
    text-align: left;
    font-size: 14px;
  }
  p.cnt-p {
    color: #99abd5;
    margin-bottom: 1.5em;
  }
  .address a {
    color: #d95459;
    margin: 0 0 .5em 0;
    text-align: left;
    font-size: 14px;
  }
  .address a:hover {
    color:#858d94;
  }
  .contact-form input[type="text"] {
    display: inline-block;
    background: none;
    border: 1px solid #A3A1A1;
    width: 32.3%;
    margin: 0 0 1.5em 0;
    outline: none;
    font-size: 14px;
    color: #747577;
    padding: 10px 15px;
  }
  .contact-form input[type="email"] {
    display: inline-block;
    background: none;
    border: 1px solid #A3A1A1;
    width: 32.5%;
    margin: 0 0.5em 1em 0.5em;
    outline: none;
    font-size: 14px;
    color: #747577;
    padding: 10px 15px;
  }
  .contact-form textarea {
    background: none;
    border: 1px solid #A3A1A1;
    width: 100%;
    display: block;
    height: 150px;
    outline: none;
    font-size: 14px;
    color: #747577;
    resize: none;
    padding: 10px 15px;
  }
  .contact-form input[type="submit"]{
    background: #ef717a;
    border: 1px solid #ef717a;
    padding: .6em 0;
    width: 14%;
    margin-top: 2em;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    outline: none;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
  }
  .contact-form input[type="submit"]:hover{
    background-color: #d95459;
  }
  .contact-grids h3 {
    text-align: left;
  }
  /*--//contact-page--*/
  .footer{
    display:none;
  }
  /*---- responsive-design -----*/
  @media(max-width:1440px){
    .social-icons {
      margin: 2.5em 0;
    }
    .sidebar {
      padding: 3em 0 1.5em;
    }
    ul.nav.nav-sidebar {
      margin: 3em 0 0;
    }
  .contact-form input[type="text"] {
    width: 32.2%;
  }
}
@media(max-width:1366px){
  ul.nav.nav-sidebar b {
    font-size: 18px;
  }
  ul.nav.nav-sidebar li a {
    padding: 0.5em 0;
    font-size: 14px;
  }
  ul.nav.nav-sidebar {
    margin: 4em 0 0;
  }
  .sidebar {
    padding: 2.5em 0 1.5em;
  }
  .social-icons {
    margin: 3em 0;
  }
  .welcome-middle {
    padding-left: 3em;
    padding-right: 3em;
  }
  .welcome-left {
    padding-right: 1em;
  }
  .team-text h5 {
    font-size: 2.7em;
  }
  .about-main {
    padding: 3em 2em 3em;
  }
  .resume-grid {
    padding-left: 0;
  }
  .contact-form input[type="text"] {
    width: 32.1%;
  }
}
@media(max-width:1280px){
  .banner {
    background-position: 0px 0px;
  }
  .about-grids img {
    width: 100%;
  }
  .about-grids h4 {
    font-size: 14px;
  }
  .about {
    margin-bottom: 4em;
  }
  .abt-slid-text {
    left: 18%;
  }
  .team-text h5 {
    font-size: 2.4em;
  }
  .team {
    margin: 4em 0 0;
  }
  .important-dates {
    margin-top: 1em;
  }
  .srvs-row.row {
    margin: 3em 0 3em;
  }
  .map {
    margin: 1em 0 1em;
  }
  .contact-form input[type="email"] {
    width: 32.3%;
  }
  p.cnt-p {
    margin-bottom: 1em;
  }
  .contact-form input[type="submit"] {
    margin-top: 1em;
  }
}
@media(max-width:1024px){
  .sidebar {
    padding: 3em 0 1.5em;
  }
  ul.nav.nav-sidebar {
    margin: 3em 0 0;
  }
  .social-icons ul li {
    margin-right: 1px;
  }
  .social-icons a {
    background: url(../images/iconsprite.png)no-repeat 0px 0px;
    display: block;
    width: 31px;
    height: 31px;
    transition: none;
    background-size: 736%;
  }
  .social-icons a:hover {
    background: url(../images/iconsprite.png)no-repeat -37px 0px;
    background-size: 736%;
  }
  .social-icons a.fb {
    background: url(../images/iconsprite.png)no-repeat 0px -36px;
    background-size: 736%;
  }
  .social-icons a.fb:hover {
    background-position: -37px -36px;
    background-size: 736%;
  }
  .social-icons a.be {
    background: url(../images/iconsprite.png)no-repeat 0px -73px;
    background-size: 736%;
  }
  .social-icons a.be:hover {
    background: url(../images/iconsprite.png)no-repeat -37px -73px;
    background-size: 736%;
  }
  .social-icons a.gg {
    background: url(../images/iconsprite.png)no-repeat 0px -109px;
    background-size: 736%;
  }
  .social-icons a.gg:hover {
    background: url(../images/iconsprite.png)no-repeat -37px -109px;
    background-size: 736%;
  }
  /*
  .jumbotron.banner-text {
  top: 24%;
  width: 57%;
  left: 23%;
  padding: 2em;
  }
   */
  .about-main {
    padding: 2em 2em 3em;
  }
  /*
  .banner {
  min-height: 513px;
  }
   */
  .main-text {
    /*padding: 2.5em 2em;*/
    padding: 0em;
  }
  /*
  h3 {
  font-size: 2.4em;
  margin-bottom: 0.6em;
  }
   */
  .welcome h4 {
    font-size: 13px;
  }
  .offer-text h5 {
    font-size: 2.5em;
  }
  .important-dates-info {
    padding: 0.7em;
  }
  .feature-left {
    padding-left: 0;
  }
  .ftrs-left-text {
    margin: 1em 0;
  }
  .about-grids:nth-child(3) {
    padding: 0;
  }
  .about-grids:nth-child(4) {
    padding-left: 3em;
  }
  .about-grids ul li a {
    font-size: 14px;
  }
  .about-slid {
    min-height: 350px;
  }
  .team {
    margin: 2em 0 0;
  }
  .about-team-grids {
    padding: 1em;
  }
  .team-text h5 {
    font-size: 2em;
  }
  .team-text {
    padding: 1em;
  }
  .team-text h6 {
    font-size: 1em;
  }
  .row-grids {
    padding: 0.5em !important;
  }
  .srvs-thumbnail.thumbnail {
    margin-bottom: 0;
  }
  .srvs-caption.caption {
    padding: 1em;
  }
  .srvs-caption h4 {
    font-size: 20px;
  }
  .srvs-row.row {
    margin: 2em 0;
  }
  .work-grids {
    margin-top: 2em;
  }
  .resume {
    margin-right: 0em;
    padding: 0 0 1.5em 2em;
  }
  .resume p {
    margin-bottom: 1.5em;
  }
  .resume h4 {
    font-size: 3em;
    margin: 0.8em 0 0;
  }
  .resume h5 {
    font-size: 15px;
    margin: 1.5em 0 0.5em;
  }
  .gallery-info {
    margin: 3em 0;
  }
  .testi-info p {
    font-size: 13px;
    letter-spacing: 0;
  }
  .testi-info {
    padding: 1em;
    margin: 3em 0;
  }
  .testi-left {
    left: 1%;
    top: -10%;
    width: 19%;
  }
  .testi-info a {
    font-size: 2em;
  }
  .testi-left.testi-lft2 {
    right: 1%;
    left: initial;
  }
  .map {
    margin: 1em 0 1em;
  }
  .map iframe {
    height: 280px;
  }
  .address {
    padding: 0;
  }
  .contact-form input[type="text"] {
    width: 32.3%;
    font-size: 13px;
    padding: 8px 12px;
  }
  .contact-form input[type="email"] {
    font-size: 13px;
    padding: 8px 12px;
    width: 31%;
  }
  .contact-form textarea {
    height: 135px;
    font-size: 13px;
    padding: 8px 12px;
  }
  .contact-form input[type="submit"] {
    padding: .5em 0;
    font-size: 13px;
    letter-spacing: 0;
  }
}
@media(max-width:769px){
  .about-main {
    padding: 2em 1.5em 2em;
  }
  /*
  .banner {
  min-height: 419px;
  }
   */
  .banner-text h2 {
    font-size: 3.5em;
  }
  .banner-text p {
    font-size: 14px;
  }
  .btn {
    font-size: 13px;
  }
  /*
  .jumbotron.banner-text {
  width: 68%;
  left: 18%;
  padding: 1.5em 1em;
  }
   */
  .main-text {
    /*padding: 1.5em 1em;*/
    padding: 0em;
  }
  h3 {
    font-size: 2.2em;
  }
  .welcome-left {
    padding: 0;
  }
  .welcome-right {
    padding: 0;
    margin-top: 1em;
  }
  .important-dates {
    margin-top: 2em;
  }
  .important-dates-info {
    float: left;
    width: 33.33%;
    padding: 0.5em;
  }
  .important-dates-info.off-grid2 {
    float: left;
    width: 50%;
  }
  .offer-text h5 {
    font-size: 1.8em;
  }
  .features {
    margin-top: 1em;
  }
  .col-md-4.about-grids {
    float: left;
    width:50%;
  }
  .about-grids:nth-child(4) {
    padding: 0;
    width: 100%;
    margin-top: 1em;
  }
  .about-slid {
    min-height: 250px;
  }
  .abt-slid-text h2 {
    font-size: 4em;
  }
  .abt-slid-text p {
    font-size: 17px;
  }
  .abt-slid-text {
    left: 7%;
    top: 29%;
    text-align: center;
  }
  .about-team-grids {
    float: left;
    width: 25%;
  }
  .about-team-grids {
    padding: 0.5em;
  }
  .team-text h5 {
    font-size: 1.3em;
    font-weight: 900;
  }
  .team-text h6 {
    font-weight: 500;
  }
  .resume-grid {
    float: left;
    width: 50%;
  }
  .resume-grid {
    float: left;
    width: 33.33%;
  }
  .resume {
    padding: 0 0 1em 1em;
  }
  .resume h4 {
    font-size: 2.1em;
    margin: 0.8em 0 0;
  }
  .resume span {
    font-size: 1.2em;
    width: 31px;
    height: 31px;
    line-height: 1.8em;
  }
  .resume h5 {
    font-size: 14px;
    margin: 1em 0 0.5em;
  }
  .galry-grids {
    float: left;
    width: 50%;
  }
  .galry-grids:nth-child(3){
    float:none;
    width:100%;
  }
  .galry-grids:nth-child(3) a.b-link-stripe.b-animate-go.fancybox {
    float: left;
    width: 33.33%;
  }
  .contact-form {
    padding: 0;
    margin-top: 1.5em;
  }
}

#content {
  text-align: center;
}

#content img {
  border: 2px solid transparent;
  /* padding-top: 2em; */
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2.5em;
  /* padding-bottom: 5px; */
}

#content a img:hover {
  position: relative;
  top: -2px;
  left: -2px;
  border-bottom-color: #006600;
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
}

/* sponsors */
#amazon     { height: 72px; }
#alibaba    { height: 120px; }
#akamai     { height: 72px; }
#microsoft  { height: 72px; }
#bytedance  { height: 60px; }
#google     { height: 72px; }
#facebook   { height: 72px; }
#twitter    { height: 72px; }
#vmware     { height: 72px; }
#netapp     { height: 100px; }
#nsf        { height: 100px; }
#huawei     { height: 72px; }
#uwaterloo  { height: 100px; }
#sigops     { height: 72px; }
#vectori    { height: 72px; }
#hpelabs    { height: 102px; }

/* smartphone */
@media(max-width:768px) {
#amazon     { height: 40px; }
#alibaba    { height: 60px; }
#akamai     { height: 40px; }
#microsoft  { height: 40px; }
#bytedance  { height: 36px; }
#google     { height: 40px; }
#vmware     { height: 40px; }
#facebook   { height: 40px; }
#twitter    { height: 40px; }
#netapp     { height: 60px; }
#nsf        { height: 60px; }
#huawei     { height: 40px; }
#uwaterloo  { height: 60px; }
#sigops     { height: 60px; }
#vectori    { height: 60px; }
#hpelabs    { height: 60px; }
}}
