{# vim: ts=2:sw=2:expandtab #}
<div class="important-dates">
  <h5 class="left-h">Important Dates</h5>
  <table align="left">
    <tr>
      <th>Event Info</th>
      <th>Date</th>
    </tr>
    <tr>
      <td>Abstract Submission</td>
      <td>July 30, 2021</td>
    </tr>
    <tr>
      <td>Notification</td>
      <td>August 30, 2021</td>
    </tr>
  </table>
</div>
<div class="clearfix"></div>
