{# vim: ts=1:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">

    <div class="col-md-12 welcome-middle">
      <div style="text-align:center; width:80%; margin: auto; background-color: #f6f6f6; padding: 1.5% 3%; font-weight: 600">
        <div style="text-align: center; margin: auto;">
          <h5>Important Announcement: SOSP 2021 is Going Virtual</h5>
          <p style="font-weight: 300; margin-top: -10px;"><i>30/4/2021</i></p>
        </div>
        <div style="text-align: justify;">
          <p>Due to the ongoing global pandemic, the ACM SIGOPS steering committee has elected to move SOSP 2021 to an online format.  The venue for SOSP 2023 will be Koblenz, Germany.  There are no changes to the existing SOSP 2021 program committee or paper submission deadlines.</p>
          <p>The ACM SIGOPS steering committee would like to welcome the new organizers of the virtual SOSP 2021:
          <table id=organizers style="margin: auto; text-align: left; width: 80%">
            <tr>
              <td class=organizers-office style="width:30%"> General Chair</td>
              <td class=organizers-bearer style="width:70%"> <a href="http://bnrg.cs.berkeley.edu/~adj/">Anthony D. Joseph</a>, University of California, Berkeley</td>
            </tr>
            <tr>
              <td colspan="2" style="height: 10px"></td>
            </tr>
            <tr>
              <td class=organizers-office style="width:30%"> Virtual Platform Chairs</td>
              <td class=organizers-bearer> <a href="https://www.cs.utexas.edu/~vijay/">Vijay Chidambaram</a>, The University of Texas at Austin</td>
            </tr>
            <tr>
              <td class=organizers-office> &nbsp; </td>
              <td class=organizers-bearer style="width:70%"> <a href="https://www.comp.nus.edu.sg/~lijl/">Jialin Li</a>, National University of Singapore (NUS)</td>
            </tr>
            <tr>
              <td class=organizers-office> &nbsp; </td>
              <td class=organizers-bearer style="width:70%"> <a href="https://tianyin.github.io/">Tianyin Xu</a>, University of Illinois at Urbana-Champaign</td>
            </tr>
          </table></p>
          <p>SOSP 2023 will be held in Koblenz, Germany.  The ACM SIGOPS steering committee would like to welcome the previous chairs of SOSP 2021 as the new chairs of SOSP 2023:</p>
          <table id=organizers style="margin: auto; text-align: left; width: 80%">
            <tr>
              <td class=organizers-office style="width:30%"> General Chairs</td>
              <td class=organizers-bearer style="width:70%"> <a href="https://people.mpi-sws.org/~druschel/">Peter Druschel</a>, Max Planck Institute for Software Systems (MPI-SWS)</td>
            </tr>
            <tr>
              <td class=organizers-office> &nbsp; </td>
              <td class=organizers-bearer style="width:70%"> <a href="https://people.mpi-sws.org/~antoinek/">Antoine Kaufmann</a>, Max Planck Institute for Software Systems (MPI-SWS)</td>
            </tr>
            <tr>
              <td class=organizers-office> &nbsp; </td>
              <td class=organizers-bearer style="width:70%"> <a href="http://keonjang.github.io/">Keon Jang</a>, Rubrik</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-12 welcome-middle" style="padding-top: 100px">
      <h3>Welcome to the SOSP 2021 Website</h3>
    </div>

    <div class="col-md-12 welcome-middle">
      <p>
      The biennial ACM Symposium on Operating Systems Principles is the world's
      premier forum for researchers, developers, programmers, and teachers of computer
      systems technology. Academic and industrial participants present research and
      experience papers that cover the full range of theory and practice of computer
      systems software.
      </p>
    </div>

    <div class="col-md-12 welcome-middle">
      <h5>News</h5>      <ul>
        <li>April 5th, 2021: Call for Workshops announced</li>
        <li>March 19th, 2021: Student Research Competition announced</li>
        <li>January 5th, 2021: Call for Papers announced</li>
      </ul>
    </div>

    {% set showWorkshops = True %}
    {% set showGeneral = True %}
    {% include "dates.html" %}

    <div class="col-md-12 welcome-middle">
      <h5 class="left-h">Problems</h5>
      <p>
      Any organizational questions about the conference can be emailed to 
      <a href="mailto:sosp21-chairs@mpi-sws.org">sosp21-chairs@mpi-sws.org</a>.
      The program committee chairs can be reached at <a href="mailto:sosp21-pc-chairs@mpi-sws.org">sosp21-pc-chairs@mpi-sws.org</a>.
    </p>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
{% endblock %}
