<nav class="navbar navbar-default" role="navigation"> 
  <div class="navbar-header"> 
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sosp17-navbar-collapse"> 
      <span class="icon-bar"></span> 
      <span class="icon-bar"></span> 
      <span class="icon-bar"></span> 
    </button> 
  </div>
  <div class="collapse navbar-collapse" id="sosp17-navbar-collapse"> 
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Conference Details<b class="caret"></b> </a> 
        <ul class="dropdown-menu">
	  <!-- <li><a href="venue.html">Venue</a></li> -->
	  <li><a href="organizers.html">Organizers</a></li>
	  <li><a href="sponsors.html">Sponsors</a></li>
	</ul>
      </li>
      <li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Calls for 
		Participation<b class="caret"></b> </a>
	<ul class="dropdown-menu">
    <li><a href="cfp.html">Call for Papers</a></li>
    <li><a href="cfw.html">Call for Workshops</a></li>
    <li><a href="cfsrc.html">Student Research Competition</a></li>
    <!-- <li><a href="cfs.html">Call for Sponsors</a></li> -->
	</ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Additional Information<b class="caret"></b> </a> 
        <ul class="dropdown-menu">
	  <li><a href="http://www.sosp.org/">Prior SOSPs</a></li>
	</ul>
      </li>
    </ul> 
  </div> 
</nav>
