{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <h3>SOSP 2021 Program</h3>
    <h5>Coming Soon...</h5>

    <div class="clearfix"> </div>
  </div>
</div>
{% endblock %}
