{# vim: ts=2:sw=2:expandtab #}

{% extends "base.html" %}

{% block content %}
<div class="main-text">
  <div class="welcome">
    <div class="welcome-middle">
      <div id="content">
        <h3>Platinum</h3>
        <p>
          <a href="http://www.huawei.com/">
            <img id="huawei" src="logos/huawei.png" title="Huawei">
          </a>
        </p>
        <!--<h3>Gold</h3>
        <p>
        </p>-->
        <h3>Silver</h3>
        <p>
        <p>
          <a href="http://www.google.com/">
            <img id="google" src="logos/google.png" title="Google">
          </a>
        </p>
        <!--<h3>Bronze</h3>
        <p>
        </p>-->
        <h3>Other</h3>
        <p>
          <a href="https://www.hpe.com/us/en/hewlett-packard-labs.html">
            <img id="hpelabs" src="logos/hpelabs.png" title="Hewlett Packard Labs">
          </a>
    </div>
  </div>
</div>
{% endblock %}
